<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  

  <!-- Campos del Álbum -->
   <ion-item [disabled]="true">
    <ion-label>ID:</ion-label>
    &nbsp;
    <ion-input [value]="document.id"></ion-input>
   </ion-item>
   <ion-item>
    <ion-label>Título:</ion-label>
    &nbsp;
    <ion-input [(ngModel)]=document.data.titulo></ion-input>
   </ion-item>
   <ion-item>
    <ion-label>Artista:</ion-label>
    &nbsp;
    <ion-input [(ngModel)]=document.data.artista></ion-input>
   </ion-item>
   <ion-item>
    <ion-label>Año:</ion-label>
    &nbsp;
    <ion-input [(ngModel)]=document.data.anho></ion-input>
   </ion-item>
   <ion-item>
    <ion-label>Género:</ion-label>
    &nbsp;
    <ion-input [(ngModel)]=document.data.genero></ion-input>
   </ion-item>

  <!-- Previsualización -->
  <ion-item *ngIf="document.data.portada">
    <ion-label>Portada:</ion-label>
    <ion-item>
      &nbsp;
      <!-- Botón para seleccionar imagen -->
      <ion-button (click)="seleccionarImagen()">
        Elegir imagen
      </ion-button>
    </ion-item>
  </ion-item>
  <ion-img 
    *ngIf="document.data.portada" 
    [src]="document.data.portada" 
    style="display: block;
    margin-left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;">
  </ion-img>

  <!-- Previsualización de la imagen recién seleccionada (si existe) -->
  <ion-item *ngIf="imagenSelec">
    <ion-label>Nueva imagen (Base64):</ion-label>
  </ion-item>
  <ion-img 
    *ngIf="imagenSelec" 
    [src]="imagenSelec"
    style="width: 200px; height: 200px; object-fit: cover; margin: 0 auto;">
  </ion-img>

   <!-- Campos para una nueva pista -->
  <ion-item>
    <ion-label position="floating">Título de la pista</ion-label>
    <ion-input [(ngModel)]="nuevaPista.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Duración de la pista</ion-label>
    <ion-input [(ngModel)]="nuevaPista.duracion"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="agregarPista()">Agregar pista</ion-button>

  <!-- Listado de pistas actuales en document -->
  <ion-list>
    <ion-item *ngFor="let pista of document.data.pistas; let i = index">
      <ion-label>
        {{ pista.id }} - {{ pista.titulo }} ({{ pista.duracion }})
      </ion-label>
      <ion-button color="danger" (click)="eliminarPista(i)">Eliminar</ion-button>
    </ion-item>
  </ion-list>


  <ion-button color="danger" *ngIf="!isNew" (click)="clicBotonBorrar()">
    Borrar álbum
  </ion-button>

  <ion-button (click)="clicBotonModificar()">
    {{ isNew ? 'Guardar' : 'Modificar' }} álbum
  </ion-button>
</ion-content>