<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo álbum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>LISTA DE ÁLBUMES</h1>
  <ion-list>
    <ion-item *ngFor="let documentAlbum of arrayColeccionAlbumes" (click)="selecAlbum(documentAlbum)">
      <ion-grid>
        <ion-row>
          <h2>{{documentAlbum.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentAlbum.data.artista}} - {{documentAlbum.data.anho}}</p>
        </ion-row>
        <!-- Muestra pistas del álbum ya guardado -->
        <ion-row>
          <ion-list>
            <ion-item *ngFor="let p of documentAlbum.data.pistas">
              {{ p.id }} - {{ p.titulo }} ({{ p.duracion }})
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <br>
  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>